<% if logged_in? %>
  <h1 class="center">ログイン済みトップページ</h1>
  <div class="container posts_page center">
    <h2>フォロー中 投稿一覧</h2>
    <% if @beansposts.any?%>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <%= render @beansposts %>
          </div>
        </div>
      </div>
      <%= paginate @beansposts %>
    <% end %>
  </div>
<% else %>
  <div class="top-page">
    <div class="row">
      <div class="col-6">
        <h2>
          Find<br>
          New<br>
          Beans.
        </h2>
      </div>
      <div class="col-6">
        <h2>
          未知の<br>
          豆との<br>
          出会い
        </h2>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <%= link_to "新規登録", signup_path, class: "btn btn-primary" %>
      <br>
      <%= link_to "Serveについて", about_path, class: "btn btn-info" %>
    </div>
  </div>
<% end %>