<% provide(:title, "準備中") %>

<div class="container signup-page center">
  <div class="container preparation-page">
    <h1>こちらは現在準備中です。</h1>
    <p>順次、機能を追加する予定です。</p>
    <p>楽しみにお待ちください！！</p>
    <%= link_to "ホームへ戻る", "/", class: "btn btn-primary" %>
  </div>
</div>