<% provide(:title, "投稿一覧") %>

  <div class="container center signup-page">
    <div class="container form-title">
      <h1>投稿一覧</h1>
    </div>
    <span class="sp"><%= paginate @beansposts %></span>
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <%= render @beansposts %>
        </div>
      </div>
    </div>
    <%= paginate @beansposts %>
  </div>