<% provide(:title, "投稿一覧") %>

  <div class="container posts_page center">
    <h1>投稿一覧</h1>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <%= render @beansposts %>
        </div>
      </div>
    </div>
    <%= paginate @beansposts %>
  </div>