<div class="center">
  <h1>Serve</h1>

  <h3><%= @user.name %>さん</h3>

  <h2>
  Serveへようこそ!!<br>
  下記リンクよりアカウントの有効化を行なってください。
  </h2>

  <%= link_to "アカウント有効化", edit_account_activation_url(@user.activation_token,
                                                              email: @user.email), class: "btn btn-primary" %>
</div>