<% provide(:title, "ユーザ一覧") %>

<div class="container my-page signup-page center">
  <h2 class="center">ユーザ一覧</h2>
  <hr>
  <div class="row users">
    <% if @users.any? %>
      <%= render @users %>
    <%= paginate @users %>
  </div>
  <% end %>
</div>