
<h2>Serve の Contact から問い合わせがありました。</h2>
<br>
--------------------------------------------------
<br>
名前：<%= @contact.name %>
<br>
メールアドレス：<%= @contact.email %>
<br>
件名：<%= @contact.subject %>
<br>
問い合わせ内容
<br>
<%= @contact.content %>
<br>
--------------------------------------------------