<% provide(:title, "検索結果") %>

  <div class="container center signup-page">
    <div class="container form-title">
      <% if @content.present? %>
        <h3>"<%= @content %>" (<%= @type_key %>) の検索結果</h3>
      <% else %>
        <h3>最新投稿 30件</h3>
      <% end %>
    </div>
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <%= render @beansposts %>
        </div>
      </div>
    </div>
  </div>