@import "bootstrap";

/* miscellaneous */
// デバッグ表示
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* universal */

body {
  color: $gray-900;
  background-image: url(./images/coffeebeans.png);
}

.center{
  text-align: center;
}



/* header */

header {
  background-color: $gray-100;
  font-weight: bold;
  box-shadow: 0 3px 6px $gray-700;

  .nav-link {
    color: $gray-900;
  }
}

  /* footer */

footer {
  height: 24px;
  background-color: $gray-100;
  color: $gray-700;
  box-shadow: 0 -2px 6px $gray-300;
  // margin-top: 450px;
}


/* information */

.information {
  height: 30px;
  color: $gray-900;
  background-color: #7DB9DE;
  p {
    font-size: 15px;
    text-align: center;
    padding: 7.5px auto 7.5px;
  }
}

main {
  .main{
  border: solid 1px red;
  }
  h1 {
    margin-top: 45px;
  }
}


/* home */
.login-btn {
  // background-color: $orange-500;
}


/* Form */
.form-title {
  font-weight: bold;
}

.required::after {
    content: " *";
    font-size: 14pt;
    color: #FF3399;
  }

  .asterisk {
    color: #FF3399;
  }

/* Sign up form */
.signup-form {
  margin-top: 45px;
  font-weight: bold;
  width: 60%;
  color: $gray-700;
  input {
    margin-bottom: 20px;
  }
  .btn {
    width: 100%;
    margin-top: 15px;
  }
  p {
    font-size: 14px;
  }
}