@import "bootstrap";
// @import "https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.css";
@import "hero.scss";
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

/* miscellaneous */
// デバッグ表示
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* universal */

body {
  color: $gray-900;
  background-image: image-url('coffeebeans.png');
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
  display: none; //フェードイン表示のため記載
  font-family: 'Sawarabi Mincho', serif; // さわらび明朝
  a {
    color: #979286;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

/* guest */
.btn-guest {
  color: #fff;
  font-weight: bold;
  background-color: $orange-500;
  &:hover {
    color: #fff;
    background-color: $orange-400;
  }
}
.nopost {
  margin: 10rem auto;
  a {
    text-decoration: none;
    &:hover {
      color: #cbc8c2;
    }
  }
}


/* header */

header {
  background-color: $gray-100;
  font-weight: bold;
  box-shadow: 0 3px 6px $gray-700;

  .nav-link {
    color: $gray-900;
  }
  .btn {
    margin: auto 0 auto 20px;
  }
  ul {
    list-style: none;
  }
}

  /* alert */
  .alert {
    margin: 0;
  }

  /* footer */

footer {
  height: 24px;
  background-color: $gray-100;
  color: $gray-700;
  box-shadow: 0 -2px 6px $gray-300;
  margin-top: 50px;
}


/* information */

.information {
  height: 50px;
  color: $gray-900;
  background-color: #cbc8c2;
  p {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: auto;
  }
}

/* about */
.about-page {
  background-color: #efeae7;
  border-radius: 6px;
  box-shadow: 0 0 16px $gray-500;
  padding: 48px 12px;
  a {
    text-decoration: none;
    &:hover {
      opacity: 0.4;
    }
  }
  .hero-title {
    font-size: 2em;
    color: #979286;
  }
}

.page-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 0.7em;
  text-align: center;
  transition: 0.3s 0;
  opacity: 0.7;
  text-decoration: none;
  &:hover {
    opacity: 0.4;
  }
}

.icon-size {
  font-size:2.5em;
}


/* preparation page */
.preparation-page {
  margin: 200px auto;
}


/* main */

.top-page {
  // height: 100vh; //YouTube埋め込みのため非表示
  .col-6 {
    text-align: center;
    margin: 4em auto;
  }
  p {
    font-size: 4em;
    display: inline-block;
    text-align: left;
    font-weight: bold;
  }
  .youtube {
    margin-top: 2em;
    width: 70%;
    aspect-ratio: 16 / 9;
    iframe {
    width: 100%;
    height: 100%;
    }
  }
}


/* my_page */
.my-page {
  ol {
    list-style: none;
  }
  .user-nickname {
    font-size: 1.5rem;
  }
}

/* post show */

.post-page {
  background-color: #efeae7;
  border-radius: 6px;
  box-shadow: 0 0 16px $gray-500;
  padding: 48px 12px;
  margin-top: 48px;
}

.time-stamp {
  margin: 0 10px;
}

.fa-bookmark {
  margin: 0 10px;
}

.icons-link {
  color: $gray-900;
}

/* posts_page */
.posts_page {
  ol {
    list-style: none;
  }
}

.stats {
  overflow: auto;
  margin-top: 30;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 2px solid $gray-300;
    color: $gray-500;
    text-decoration: none;
    display: block;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      color: #7DB9DE;
    }
  }
  // strong {
  //   display: block;
  // }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
}

.users.follow {
  padding: 0;
}


/* Form */
.form-title {
  font-weight: bold;
}

.form-check {
  margin: auto 0;
}

.required::after {
    content: " *";
    font-size: 14pt;
    color: #FF3399;
  }
  .asterisk {
    color: #FF3399;
  }



/* Sign up */
.signup-page {
  background-color: #efeae7;
  border-radius: 6px;
  box-shadow: 0 0 16px $gray-500;
  margin-top: 48px;
  padding: 48px 12px;
}

.signup-form {
  margin-top: 45px;
  font-weight: bold;
  width: 60%;
  color: $gray-700;
  input {
    margin-bottom: 20px;
  }
  .btn {
    width: 100%;
    margin-top: 15px;
  }
  p {
    font-size: 14px;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-300;
  }
}

// .user-image {
//   width: 50px;
// }


/* pagination */

.pagination {
  justify-content: center;
}

.pagination>li>a {
  color: $gray-700;

  /*ホバー時のデザイン*/
  &:hover {
    color: #fff;
    background-color: #7DB9DE;
    border-color: #7DB9DE;
  }
}

// /* 表示しているページ番号 */
// .pagination>.active>a {     
//   // background: #81C7D4;     /*背景の色を変える*/
// //   // border-radius: 15px;
// }


/* responsive */
@media (min-width:769px){
  .sp {
    display: none;
    margin-left: none;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }

  .navbar {
    img {
      width: 100px;
    }
  }

  .top-page {
    p {
      font-size: 2em;
    }
  } 
}

/* Galaxy Fold 専用 メディアクエリ */
@media screen and (max-width: 289px) {
  .pc-gf {
    display: none;
  }
}